<section class="indexContent mb-0">
    <div id="container">
        

      
        <form action="/generateBox" method="post">

            

            <!-- <input type="text" name="employeeDepartment" id="employeeDepartment" placeholder=""> -->
            <label for="numberList">Choose a number:</label>
            <select id="numberOption" name="numb">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>



            <br><br>
            <button type="submit">Submit Number Chosen</button>
        </form>




    </div>
    <script>
    </script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./resources/js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</section>